In [1]:
%pip install sqlalchemy pymysql sshtunnel psycopg2-binary pytz

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: pymysql in /opt/conda/lib/python3.11/site-packages (1.1.0)
Requirement already satisfied: sshtunnel in /opt/conda/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: pytz in /opt/conda/lib/python3.11/site-packages (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: paramiko>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from sshtunnel) (3.3.1)
Requirement already satisfied: bcrypt>=3.2 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (4.0.1)
Requirement already satisfied: cryptography>=3.3 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (41.0.3)
Requirement already satisfied: pynacl>=1.5 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.11/site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import environment as env
from utils import *

In [3]:
tunnel = open_ssh_tunnel(env.ssh_username, env.ssh_password, env.ssh_host, env.source_database_host, env.source_database_port)

2023-11-14 20:07:11,329| WAR | MainThrea/1032@sshtunnel | Could not read SSH configuration file: ~/.ssh/config
2023-11-14 20:07:11,330| INF | MainThrea/1060@sshtunnel | 0 keys loaded from agent
2023-11-14 20:07:11,330| INF | MainThrea/1117@sshtunnel | 0 key(s) loaded
2023-11-14 20:07:11,331| INF | MainThrea/0978@sshtunnel | Connecting to gateway: 172.17.0.1:22 as user 'william'
2023-11-14 20:07:11,331| DEB | MainThrea/0983@sshtunnel | Concurrent connections allowed: True
2023-11-14 20:07:11,332| DEB | MainThrea/1414@sshtunnel | Trying to log in with password: ************
2023-11-14 20:07:11,333| DEB | MainThrea/1204@sshtunnel | Transport socket info: (<AddressFamily.AF_INET: 2>, <SocketKind.SOCK_STREAM: 1>, 0), timeout=0.1
2023-11-14 20:07:11,504| INF | Srv-36561/1433@sshtunnel | Opening tunnel: 0.0.0.0:36561 <> grjcpm-rds-aurora-bossabox.cluster-ccmlp7sdp395.us-east-1.rds.amazonaws.com:3306

In [4]:
connection = mysql_connect(env.source_database_username, env.source_database_password, env.source_database_host, env.source_database_port, env.source_database_name)

In [5]:
tables = run_query("SHOW TABLES;", connection)
tables

2023-11-14 20:07:12,763 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-11-14 20:07:12,764 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:13,090 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-11-14 20:07:13,091 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:13,249 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-11-14 20:07:13,249 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:13,567 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:13,568 INFO sqlalchemy.engine.Engine SHOW TABLES;
2023-11-14 20:07:13,568 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:13,722 INFO sqlalchemy.engine.Engine ROLLBACK

   Tables_in_jcpmdb
0     adonis_schema
1           adverts
2        api_tokens
3             cards
4         customers
5            emails
6              faqs
7       http_events
8              logs
9            prices
10          qrcodes
11         services
12          tenants
13          tickets
14     transactions
15     user_tenants
16            users
17        v2_schema
18   v2_schema_lock

In [6]:
for table in tables["Tables_in_jcpmdb"]:
    run_query("SELECT * FROM " + table + ";", connection).to_pickle('./data_source/' + table + '.pickle')

2023-11-14 20:07:13,897 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:13,897 INFO sqlalchemy.engine.Engine SELECT * FROM adonis_schema;
2023-11-14 20:07:13,898 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:14,067 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:14,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:14,232 INFO sqlalchemy.engine.Engine SELECT * FROM adverts;
2023-11-14 20:07:14,232 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:14,394 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:14,565 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:14,567 INFO sqlalchemy.engine.Engine SELECT * FROM api_tokens;
2023-11-14 20:07:14,569 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:15,072 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:15,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:15,237 INFO sqlalchemy.engine.Engine SELECT * FROM cards;
2023-11-14 20:07:15,238 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:15,406 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:15,569 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:15,570 INFO sqlalchemy.engine.Engine SELECT * FROM customers;
2023-11-14 20:07:15,571 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:15,753 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:15,914 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:15,915 INFO sqlalchemy.engine.Engine SELECT * FROM emails;
2023-11-14 20:07:15,916 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:16,077 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:16,269 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:16,269 INFO sqlalchemy.engine.Engine SELECT * FROM faqs;
2023-11-14 20:07:16,270 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:16,445 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:16,612 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:16,613 INFO sqlalchemy.engine.Engine SELECT * FROM http_events;
2023-11-14 20:07:16,614 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:16,778 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:16,942 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:16,944 INFO sqlalchemy.engine.Engine SELECT * FROM logs;
2023-11-14 20:07:16,945 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:24,576 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:24,762 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:24,762 INFO sqlalchemy.engine.Engine SELECT * FROM prices;
2023-11-14 20:07:24,763 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:24,919 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:25,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:25,080 INFO sqlalchemy.engine.Engine SELECT * FROM qrcodes;
2023-11-14 20:07:25,081 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:25,254 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:25,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:25,416 INFO sqlalchemy.engine.Engine SELECT * FROM services;
2023-11-14 20:07:25,416 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:25,585 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:25,754 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:25,755 INFO sqlalchemy.engine.Engine SELECT * FROM tenants;
2023-11-14 20:07:25,756 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:25,928 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:26,093 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:26,095 INFO sqlalchemy.engine.Engine SELECT * FROM tickets;
2023-11-14 20:07:26,096 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:26,276 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:26,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:26,435 INFO sqlalchemy.engine.Engine SELECT * FROM transactions;
2023-11-14 20:07:26,435 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:26,609 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:26,766 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:26,767 INFO sqlalchemy.engine.Engine SELECT * FROM user_tenants;
2023-11-14 20:07:26,767 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:26,928 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:27,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:27,095 INFO sqlalchemy.engine.Engine SELECT * FROM users;
2023-11-14 20:07:27,095 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:27,258 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:27,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:27,432 INFO sqlalchemy.engine.Engine SELECT * FROM v2_schema;
2023-11-14 20:07:27,433 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:27,594 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-14 20:07:27,769 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-14 20:07:27,770 INFO sqlalchemy.engine.Engine SELECT * FROM v2_schema_lock;
2023-11-14 20:07:27,771 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-14 20:07:27,931 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
connection.dispose()

In [8]:
tunnel.stop()

2023-11-14 20:07:28,126| INF | MainThrea/1374@sshtunnel | Closing all open connections...
2023-11-14 20:07:28,129| DEB | MainThrea/1378@sshtunnel | Listening tunnels: 0.0.0.0:36561
2023-11-14 20:07:28,130| INF | MainThrea/1458@sshtunnel | Shutting down tunnel: 0.0.0.0:36561 <> grjcpm-rds-aurora-bossabox.cluster-ccmlp7sdp395.us-east-1.rds.amazonaws.com:3306 (up)
2023-11-14 20:07:28,190| INF | Srv-36561/1439@sshtunnel | Tunnel: 0.0.0.0:36561 <> grjcpm-rds-aurora-bossabox.cluster-ccmlp7sdp395.us-east-1.rds.amazonaws.com:3306 released
2023-11-14 20:07:28,191| INF | MainThrea/1474@sshtunnel | Closing ssh transport
2023-11-14 20:07:28,193| DEB | MainThrea/1477@sshtunnel | Transport is closed