In [1]:
%pip install sqlalchemy sshtunnel psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: sshtunnel in /opt/conda/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: paramiko>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from sshtunnel) (3.3.1)
Requirement already satisfied: bcrypt>=3.2 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (4.0.1)
Requirement already satisfied: cryptography>=3.3 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (41.0.3)
Requirement already satisfied: pynacl>=1.5 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.11/site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import environment as env
from utils import *

In [3]:
tunnel = open_ssh_tunnel(env.ssh_username, env.ssh_password, env.ssh_host, env.source_database_host, env.source_database_port)

2023-11-14 20:07:52,441| WAR | MainThrea/1032@sshtunnel | Could not read SSH configuration file: ~/.ssh/config
2023-11-14 20:07:52,442| INF | MainThrea/1060@sshtunnel | 0 keys loaded from agent
2023-11-14 20:07:52,443| INF | MainThrea/1117@sshtunnel | 0 key(s) loaded
2023-11-14 20:07:52,443| INF | MainThrea/0978@sshtunnel | Connecting to gateway: 172.17.0.1:22 as user 'william'
2023-11-14 20:07:52,444| DEB | MainThrea/0983@sshtunnel | Concurrent connections allowed: True
2023-11-14 20:07:52,444| DEB | MainThrea/1414@sshtunnel | Trying to log in with password: ************
2023-11-14 20:07:52,446| DEB | MainThrea/1204@sshtunnel | Transport socket info: (<AddressFamily.AF_INET: 2>, <SocketKind.SOCK_STREAM: 1>, 0), timeout=0.1
2023-11-14 20:07:52,642| INF | Srv-43003/1433@sshtunnel | Opening tunnel: 0.0.0.0:43003 <> grjcpm-rds-aurora-bossabox.cluster-ccmlp7sdp395.us-east-1.rds.amazonaws.com:3306

In [4]:
connection = postgres_connect(env.target_database_username, env.target_database_password, env.target_database_host, env.target_database_port, env.target_database_name)

In [5]:
tables = run_query("SELECT * FROM information_schema.tables WHERE table_schema = 'public';", connection)
tables

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,postgres,public,v2_schema,BASE TABLE,None,None,None,None,None,YES,NO,None
1,postgres,public,v2_schema_lock,BASE TABLE,None,None,None,None,None,YES,NO,None
2,postgres,public,ticket,BASE TABLE,None,None,None,None,None,YES,NO,None
3,postgres,public,email,BASE TABLE,None,None,None,None,None,YES,NO,None
4,postgres,public,pricing,BASE TABLE,None,None,None,None,None,YES,NO,None
5,postgres,public,card,BASE TABLE,None,None,None,None,None,YES,NO,None
6,postgres,public,faq,BASE TABLE,None,None,None,None,None,YES,NO,None
7,postgres,public,advert,BASE TABLE,None,None,None,None,None,YES,NO,None
8,postgres,public,incident,BASE TABLE,None,None,None,None,None,YES,NO,None
9,postgres,public,vehicle,BASE TABLE,None,None,None,None,None,YES,NO,None
10,postgres,public,subscription,BASE TABLE,None,None,None,None,None,YES,NO,None
11,postgres,public,terms_of_use,BASE TABLE,None,None,None,None,None,YES,NO,None
12,postgres,public,shopping,BASE TABLE,None,None,None,None,None,YES,NO,None
13,postgres,public,transaction,BASE TABLE,None,None,None,None,None,YES,NO,None
14,postgres,public,access,BASE TABLE,None,None,None,None,None,YES,NO,None
15,postgres,public,customer,BASE TABLE,None,None,None,None,None,YES,NO,None
16,postgres,public,adapter,BASE TABLE,None,None,None,None,None,YES,NO,None
17,postgres,public,cache,BASE TABLE,None,None,None,None,None,YES,NO,None
18,postgres,public,receipt,BASE TABLE,None,None,None,None,None,YES,NO,None

In [6]:
for table in tables["table_name"]:
    run_query("SELECT * FROM " + table + ";", connection).to_pickle('./data_target/' + table + '.pickle')

In [7]:
connection.dispose()

In [8]:
tunnel.stop()

2023-11-14 20:07:53,057| INF | MainThrea/1374@sshtunnel | Closing all open connections...
2023-11-14 20:07:53,058| DEB | MainThrea/1378@sshtunnel | Listening tunnels: 0.0.0.0:43003
2023-11-14 20:07:53,059| INF | MainThrea/1458@sshtunnel | Shutting down tunnel: 0.0.0.0:43003 <> grjcpm-rds-aurora-bossabox.cluster-ccmlp7sdp395.us-east-1.rds.amazonaws.com:3306 (up)
2023-11-14 20:07:53,075| INF | Srv-43003/1439@sshtunnel | Tunnel: 0.0.0.0:43003 <> grjcpm-rds-aurora-bossabox.cluster-ccmlp7sdp395.us-east-1.rds.amazonaws.com:3306 released
2023-11-14 20:07:53,075| INF | MainThrea/1474@sshtunnel | Closing ssh transport
2023-11-14 20:07:53,076| DEB | MainThrea/1477@sshtunnel | Transport is closed