In [1]:
%pip install sqlalchemy sshtunnel psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: sshtunnel in /opt/conda/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: paramiko>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from sshtunnel) (3.3.1)
Requirement already satisfied: bcrypt>=3.2 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (4.0.1)
Requirement already satisfied: cryptography>=3.3 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (41.0.3)
Requirement already satisfied: pynacl>=1.5 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.11/site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import environment as env
from utils import *

In [3]:
tunnel = open_ssh_tunnel(env.ssh_username, env.ssh_password, env.ssh_host, env.target_database_host, env.target_database_port)

2023-11-14 20:16:55,644| WAR | MainThrea/1032@sshtunnel | Could not read SSH configuration file: ~/.ssh/config
2023-11-14 20:16:55,646| INF | MainThrea/1060@sshtunnel | 0 keys loaded from agent
2023-11-14 20:16:55,646| INF | MainThrea/1117@sshtunnel | 0 key(s) loaded
2023-11-14 20:16:55,646| INF | MainThrea/0978@sshtunnel | Connecting to gateway: 172.17.0.1:22 as user 'william'
2023-11-14 20:16:55,647| DEB | MainThrea/0983@sshtunnel | Concurrent connections allowed: True
2023-11-14 20:16:55,648| DEB | MainThrea/1414@sshtunnel | Trying to log in with password: ************
2023-11-14 20:16:55,649| DEB | MainThrea/1204@sshtunnel | Transport socket info: (<AddressFamily.AF_INET: 2>, <SocketKind.SOCK_STREAM: 1>, 0), timeout=0.1
2023-11-14 20:16:55,849| INF | Srv-37737/1433@sshtunnel | Opening tunnel: 0.0.0.0:37737 <> 172.17.0.1:5432

In [4]:
connection = postgres_connect(env.target_database_username, env.target_database_password, env.target_database_host, env.target_database_port, env.target_database_name)

In [5]:
target_faqs = pd.read_pickle('./data_target/faq.pickle')
target_faqs

Empty DataFrame
Columns: [id, shopping_id, question, answer, order]
Index: []

In [6]:
string_target_faq_ids = [str(id) for id in target_faqs['id']]
string_target_faq_ids

[]

In [7]:
faqs = pd.read_pickle('./data/faq.pickle')
faqs

,id,answer,question,shopping_id,order
0,33cd31c2-b117-423e-bd5a-20dede9c0ad5,"<p style=""text-align:left;""></p>\n<p style=""te...",O que fazer se eu n찾o conseguir ler o QR Code?,ead5811c-3105-11ec-8d3d-0242ac130003,0
1,ba4275aa-df0b-4e66-89e5-d579324d03a0,"<p style=""text-align:justify;""><span style=""co...",Quais os meios de pagamento recebidos no app?,ead5811c-3105-11ec-8d3d-0242ac130003,1
2,d6377042-fd99-462e-aa73-c4d92f45592f,"<p style=""text-align:justify;""><span style=""fo...",Eu posso acessar o hist처rico dos meus pagamentos?,ead5811c-3105-11ec-8d3d-0242ac130003,2

In [8]:
faqs_to_insert = faqs[~faqs['id'].isin(string_target_faq_ids)]
faqs_to_insert

,id,answer,question,shopping_id,order
0,33cd31c2-b117-423e-bd5a-20dede9c0ad5,"<p style=""text-align:left;""></p>\n<p style=""te...",O que fazer se eu n찾o conseguir ler o QR Code?,ead5811c-3105-11ec-8d3d-0242ac130003,0
1,ba4275aa-df0b-4e66-89e5-d579324d03a0,"<p style=""text-align:justify;""><span style=""co...",Quais os meios de pagamento recebidos no app?,ead5811c-3105-11ec-8d3d-0242ac130003,1
2,d6377042-fd99-462e-aa73-c4d92f45592f,"<p style=""text-align:justify;""><span style=""fo...",Eu posso acessar o hist처rico dos meus pagamentos?,ead5811c-3105-11ec-8d3d-0242ac130003,2

In [9]:
faqs_to_not_insert = faqs[faqs['id'].isin(string_target_faq_ids)]
faqs_to_not_insert

Empty DataFrame
Columns: [id, answer, question, shopping_id, order]
Index: []

In [10]:
faqs_to_insert.to_sql('faq', connection, if_exists="append", index=False);

In [11]:
connection.dispose()

In [12]:
tunnel.stop()

2023-11-14 20:16:56,071| INF | MainThrea/1374@sshtunnel | Closing all open connections...
2023-11-14 20:16:56,073| DEB | MainThrea/1378@sshtunnel | Listening tunnels: 0.0.0.0:37737
2023-11-14 20:16:56,073| INF | MainThrea/1458@sshtunnel | Shutting down tunnel: 0.0.0.0:37737 <> 172.17.0.1:5432 (up)
2023-11-14 20:16:56,160| INF | Srv-37737/1439@sshtunnel | Tunnel: 0.0.0.0:37737 <> 172.17.0.1:5432 released
2023-11-14 20:16:56,161| INF | MainThrea/1474@sshtunnel | Closing ssh transport
2023-11-14 20:16:56,162| DEB | MainThrea/1477@sshtunnel | Transport is closed