In [1]:
%pip install sqlalchemy sshtunnel psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: sshtunnel in /opt/conda/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: paramiko>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from sshtunnel) (3.3.1)
Requirement already satisfied: bcrypt>=3.2 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (4.0.1)
Requirement already satisfied: cryptography>=3.3 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (41.0.3)
Requirement already satisfied: pynacl>=1.5 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.11/site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import environment as env
from utils import *

In [3]:
tunnel = open_ssh_tunnel(env.ssh_username, env.ssh_password, env.ssh_host, env.target_database_host, env.target_database_port)

2023-11-14 20:17:41,299| WAR | MainThrea/1032@sshtunnel | Could not read SSH configuration file: ~/.ssh/config
2023-11-14 20:17:41,299| INF | MainThrea/1060@sshtunnel | 0 keys loaded from agent
2023-11-14 20:17:41,300| INF | MainThrea/1117@sshtunnel | 0 key(s) loaded
2023-11-14 20:17:41,300| INF | MainThrea/0978@sshtunnel | Connecting to gateway: 172.17.0.1:22 as user 'william'
2023-11-14 20:17:41,301| DEB | MainThrea/0983@sshtunnel | Concurrent connections allowed: True
2023-11-14 20:17:41,301| DEB | MainThrea/1414@sshtunnel | Trying to log in with password: ************
2023-11-14 20:17:41,303| DEB | MainThrea/1204@sshtunnel | Transport socket info: (<AddressFamily.AF_INET: 2>, <SocketKind.SOCK_STREAM: 1>, 0), timeout=0.1
2023-11-14 20:17:41,490| INF | Srv-46431/1433@sshtunnel | Opening tunnel: 0.0.0.0:46431 <> 172.17.0.1:5432

In [4]:
connection = postgres_connect(env.target_database_username, env.target_database_password, env.target_database_host, env.target_database_port, env.target_database_name)

In [5]:
target_prices = pd.read_pickle('./data_target/pricing.pickle')
target_prices

Empty DataFrame
Columns: [id, shopping_id, type, label, value, order, created_at, updated_at]
Index: []

In [6]:
string_target_price_ids = [str(id) for id in target_prices['id']]
string_target_price_ids

[]

In [7]:
prices = pd.read_pickle('./data/pricing.pickle')
prices

,id,shopping_id,type,label,value,order,created_at,updated_at
0,7e9a78a5-d578-4a68-a9de-d7c732581fcd,ead5811c-3105-11ec-8d3d-0242ac130003,car,Hora ou fração adicional,"R$ 2,00",1,2021-12-15 12:08:28 -0300,2022-01-03 13:13:14 -0300
1,95d87173-e11a-470d-a1a0-08ade4f5d1a8,ead5811c-3105-11ec-8d3d-0242ac130003,car,Permanência até 4 horas,"R$ 10,50",0,2021-12-13 18:46:19 -0300,2022-01-03 13:13:14 -0300
2,b9823247-2c6b-4a32-9657-1faa9ef1669b,ead5811c-3105-11ec-8d3d-0242ac130003,motorcycle,Permanência até 4 horas,"R$ 5,00",1,2021-12-15 12:09:15 -0300,2022-01-03 13:13:14 -0300
3,e67a22f3-6129-4e7b-8eb7-096b1b81c7c8,ead5811c-3105-11ec-8d3d-0242ac130003,motorcycle,Hora ou fração adicional,"R$ 1,00",2,2021-12-15 12:09:15 -0300,2022-01-03 13:13:14 -0300
4,ec5a6f14-8f07-4000-bf68-27f2fed3d0a6,ead5811c-3105-11ec-8d3d-0242ac130003,car,15 Minutos,Carência,2,2021-12-30 19:48:32 -0300,2022-01-03 13:13:14 -0300
5,ed38249e-2ebe-4e12-a146-99d5a282addb,ead5811c-3105-11ec-8d3d-0242ac130003,motorcycle,15 Minutos,Carência,0,2021-12-13 19:59:17 -0300,2022-01-03 13:13:14 -0300

In [8]:
prices_to_insert = prices[~prices['id'].isin(string_target_price_ids)]
prices_to_insert

,id,shopping_id,type,label,value,order,created_at,updated_at
0,7e9a78a5-d578-4a68-a9de-d7c732581fcd,ead5811c-3105-11ec-8d3d-0242ac130003,car,Hora ou fração adicional,"R$ 2,00",1,2021-12-15 12:08:28 -0300,2022-01-03 13:13:14 -0300
1,95d87173-e11a-470d-a1a0-08ade4f5d1a8,ead5811c-3105-11ec-8d3d-0242ac130003,car,Permanência até 4 horas,"R$ 10,50",0,2021-12-13 18:46:19 -0300,2022-01-03 13:13:14 -0300
2,b9823247-2c6b-4a32-9657-1faa9ef1669b,ead5811c-3105-11ec-8d3d-0242ac130003,motorcycle,Permanência até 4 horas,"R$ 5,00",1,2021-12-15 12:09:15 -0300,2022-01-03 13:13:14 -0300
3,e67a22f3-6129-4e7b-8eb7-096b1b81c7c8,ead5811c-3105-11ec-8d3d-0242ac130003,motorcycle,Hora ou fração adicional,"R$ 1,00",2,2021-12-15 12:09:15 -0300,2022-01-03 13:13:14 -0300
4,ec5a6f14-8f07-4000-bf68-27f2fed3d0a6,ead5811c-3105-11ec-8d3d-0242ac130003,car,15 Minutos,Carência,2,2021-12-30 19:48:32 -0300,2022-01-03 13:13:14 -0300
5,ed38249e-2ebe-4e12-a146-99d5a282addb,ead5811c-3105-11ec-8d3d-0242ac130003,motorcycle,15 Minutos,Carência,0,2021-12-13 19:59:17 -0300,2022-01-03 13:13:14 -0300

In [9]:
prices_to_not_insert = prices[prices['id'].isin(string_target_price_ids)]
prices_to_not_insert

Empty DataFrame
Columns: [id, shopping_id, type, label, value, order, created_at, updated_at]
Index: []

In [10]:
prices_to_insert.to_sql('pricing', connection, if_exists="append", index=False);

In [11]:
connection.dispose()

In [12]:
tunnel.stop()

2023-11-14 20:17:41,705| INF | MainThrea/1374@sshtunnel | Closing all open connections...
2023-11-14 20:17:41,706| DEB | MainThrea/1378@sshtunnel | Listening tunnels: 0.0.0.0:46431
2023-11-14 20:17:41,706| INF | MainThrea/1458@sshtunnel | Shutting down tunnel: 0.0.0.0:46431 <> 172.17.0.1:5432 (up)
2023-11-14 20:17:41,794| INF | Srv-46431/1439@sshtunnel | Tunnel: 0.0.0.0:46431 <> 172.17.0.1:5432 released
2023-11-14 20:17:41,794| INF | MainThrea/1474@sshtunnel | Closing ssh transport
2023-11-14 20:17:41,797| DEB | MainThrea/1477@sshtunnel | Transport is closed