In [1]:
%pip install sqlalchemy sshtunnel psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.20)
Requirement already satisfied: sshtunnel in /opt/conda/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: paramiko>=2.7.2 in /opt/conda/lib/python3.11/site-packages (from sshtunnel) (3.3.1)
Requirement already satisfied: bcrypt>=3.2 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (4.0.1)
Requirement already satisfied: cryptography>=3.3 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (41.0.3)
Requirement already satisfied: pynacl>=1.5 in /opt/conda/lib/python3.11/site-packages (from paramiko>=2.7.2->sshtunnel) (1.5.0)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.11/site-packages (from cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=3.3->paramiko>=2.7.2->sshtunnel) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import environment as env
from utils import *

In [3]:
tunnel = open_ssh_tunnel(env.ssh_username, env.ssh_password, env.ssh_host, env.target_database_host, env.target_database_port)

2023-11-14 20:18:53,131| WAR | MainThrea/1032@sshtunnel | Could not read SSH configuration file: ~/.ssh/config
2023-11-14 20:18:53,132| INF | MainThrea/1060@sshtunnel | 0 keys loaded from agent
2023-11-14 20:18:53,133| INF | MainThrea/1117@sshtunnel | 0 key(s) loaded
2023-11-14 20:18:53,133| INF | MainThrea/0978@sshtunnel | Connecting to gateway: 172.17.0.1:22 as user 'william'
2023-11-14 20:18:53,134| DEB | MainThrea/0983@sshtunnel | Concurrent connections allowed: True
2023-11-14 20:18:53,134| DEB | MainThrea/1414@sshtunnel | Trying to log in with password: ************
2023-11-14 20:18:53,139| DEB | MainThrea/1204@sshtunnel | Transport socket info: (<AddressFamily.AF_INET: 2>, <SocketKind.SOCK_STREAM: 1>, 0), timeout=0.1
2023-11-14 20:18:53,322| INF | Srv-36579/1433@sshtunnel | Opening tunnel: 0.0.0.0:36579 <> 172.17.0.1:5432

In [4]:
connection = postgres_connect(env.target_database_username, env.target_database_password, env.target_database_host, env.target_database_port, env.target_database_name)

In [5]:
target_cards = pd.read_pickle('./data_target/card.pickle')
target_cards

,id,shopping_id,customer_id,type,name,holder,number,brand,expiration_date,token,created_at,updated_at
0,4feaa3b1-7a09-40d9-bf50-c97fbfc47f5f,ead5811c-3105-11ec-8d3d-0242ac130003,8ceb4a88-9f49-4d98-a61e-7eba55f067a4,CREDIT_CARD,Jest User,Jest User,**** **** **** 1234,Visa,10/2028,XXXXXXXXXXXXXXX,2023-07-25 18:25:26+00:00,2023-07-25 18:25:26+00:00

In [6]:
string_target_card_ids = [str(id) for id in target_cards['id']]
string_target_card_ids

['4feaa3b1-7a09-40d9-bf50-c97fbfc47f5f']

In [7]:
cards = pd.read_pickle('./data/card.pickle')
cards

,id,name,holder,number,brand,expiration_date,token,created_at,updated_at,customer_id,type,shopping_id
0,0296631e-508a-4db3-b1fb-290318e45370,teste,Paulo m,7583,Visa,01/2028,8cc0923d-aefd-4312-b2ec-0911ef5e6d4a,2023-06-21 16:16:56 -0300,2023-06-21 16:16:56 -0300,3950506c-5363-4171-a11a-17dfe09dcd1c,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
1,1ec22ca6-acef-4edd-adb6-39758e59a78a,Caio débito,Caio Almeida,1111,Visa,12/2022,9bc4dd9f-d36c-46c0-9a6f-6001570cb696,2021-12-30 17:39:51 -0300,2021-12-30 17:39:51 -0300,434d63e8-af46-49c8-9e59-21cbf50d0c75,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
2,3767f995-69ea-41e3-9b29-49f819b8efa7,teste crédito,jajajahhajabahah,9464,Visa,09/2023,a13da640-b5f1-4b11-9e85-f7698576b8c1,2021-12-20 19:59:21 -0300,2021-12-20 19:59:21 -0300,eb3fc431-92eb-46d5-bcdc-098f2532c7d3,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
3,632562f3-b682-4c65-8c19-a00a05091a31,Paulo Marcelo Nogueira,asd asd,8884,Master,05/2029,fcff2fe9-5afc-4fff-b8b7-2447724dde10,2023-06-19 16:34:42 -0300,2023-06-19 16:34:42 -0300,3950506c-5363-4171-a11a-17dfe09dcd1c,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
4,7a4f72fa-ad1e-41a0-9f28-1d55a1765647,Cartão Master,Rafaela de Melo Borges Martins,9414,Visa,12/2029,7350bfb0-7386-41c9-b073-1fcb2ccaa74e,2021-12-30 15:25:47 -0300,2021-12-30 15:25:47 -0300,3c84a29e-ce11-4f67-a3ac-030eac1d0dbe,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
5,abaa390f-4c55-46ac-aa3f-e4eee71b4863,meu,Paull,1111,Visa,05/2025,7d4e8d4b-7484-49bf-b736-9f26eb88282a,2021-12-28 18:19:32 -0300,2021-12-28 18:19:32 -0300,f2c4f08d-3884-43ca-8d92-eb3f183dc2f8,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
6,b7eac771-6919-4890-85dc-273ccc8e9549,credito,credto,0001,Visa,01/2025,3d394839-3fbd-42a7-b214-b7001fde3d4f,2021-12-20 22:57:41 -0300,2021-12-20 22:57:41 -0300,428e9c57-656e-4da4-a75f-f85891e3830f,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
7,e364171f-6b12-4489-8344-a7e254c9fa85,Caio 1,Caio Almeida,1111,Visa,12/2022,3179dd07-f547-4d41-8fb4-7b4fd9a6fc31,2021-12-20 22:10:55 -0300,2021-12-20 22:10:55 -0300,eb3fc431-92eb-46d5-bcdc-098f2532c7d3,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
8,f54461f0-8e73-4899-aa9f-a00a1f799317,teste débito,José tedte,3333,Visa,06/2026,e60d0ccc-fdee-4a5b-984b-a8e3f9af03c3,2021-12-21 16:02:57 -0300,2021-12-21 16:02:57 -0300,eb3fc431-92eb-46d5-bcdc-098f2532c7d3,DEBIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003

In [8]:
cards_to_insert = cards[~cards['id'].isin(string_target_card_ids)]
cards_to_insert

,id,name,holder,number,brand,expiration_date,token,created_at,updated_at,customer_id,type,shopping_id
0,0296631e-508a-4db3-b1fb-290318e45370,teste,Paulo m,7583,Visa,01/2028,8cc0923d-aefd-4312-b2ec-0911ef5e6d4a,2023-06-21 16:16:56 -0300,2023-06-21 16:16:56 -0300,3950506c-5363-4171-a11a-17dfe09dcd1c,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
1,1ec22ca6-acef-4edd-adb6-39758e59a78a,Caio débito,Caio Almeida,1111,Visa,12/2022,9bc4dd9f-d36c-46c0-9a6f-6001570cb696,2021-12-30 17:39:51 -0300,2021-12-30 17:39:51 -0300,434d63e8-af46-49c8-9e59-21cbf50d0c75,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
2,3767f995-69ea-41e3-9b29-49f819b8efa7,teste crédito,jajajahhajabahah,9464,Visa,09/2023,a13da640-b5f1-4b11-9e85-f7698576b8c1,2021-12-20 19:59:21 -0300,2021-12-20 19:59:21 -0300,eb3fc431-92eb-46d5-bcdc-098f2532c7d3,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
3,632562f3-b682-4c65-8c19-a00a05091a31,Paulo Marcelo Nogueira,asd asd,8884,Master,05/2029,fcff2fe9-5afc-4fff-b8b7-2447724dde10,2023-06-19 16:34:42 -0300,2023-06-19 16:34:42 -0300,3950506c-5363-4171-a11a-17dfe09dcd1c,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
4,7a4f72fa-ad1e-41a0-9f28-1d55a1765647,Cartão Master,Rafaela de Melo Borges Martins,9414,Visa,12/2029,7350bfb0-7386-41c9-b073-1fcb2ccaa74e,2021-12-30 15:25:47 -0300,2021-12-30 15:25:47 -0300,3c84a29e-ce11-4f67-a3ac-030eac1d0dbe,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
5,abaa390f-4c55-46ac-aa3f-e4eee71b4863,meu,Paull,1111,Visa,05/2025,7d4e8d4b-7484-49bf-b736-9f26eb88282a,2021-12-28 18:19:32 -0300,2021-12-28 18:19:32 -0300,f2c4f08d-3884-43ca-8d92-eb3f183dc2f8,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
6,b7eac771-6919-4890-85dc-273ccc8e9549,credito,credto,0001,Visa,01/2025,3d394839-3fbd-42a7-b214-b7001fde3d4f,2021-12-20 22:57:41 -0300,2021-12-20 22:57:41 -0300,428e9c57-656e-4da4-a75f-f85891e3830f,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
7,e364171f-6b12-4489-8344-a7e254c9fa85,Caio 1,Caio Almeida,1111,Visa,12/2022,3179dd07-f547-4d41-8fb4-7b4fd9a6fc31,2021-12-20 22:10:55 -0300,2021-12-20 22:10:55 -0300,eb3fc431-92eb-46d5-bcdc-098f2532c7d3,CREDIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003
8,f54461f0-8e73-4899-aa9f-a00a1f799317,teste débito,José tedte,3333,Visa,06/2026,e60d0ccc-fdee-4a5b-984b-a8e3f9af03c3,2021-12-21 16:02:57 -0300,2021-12-21 16:02:57 -0300,eb3fc431-92eb-46d5-bcdc-098f2532c7d3,DEBIT_CARD,ead5811c-3105-11ec-8d3d-0242ac130003

In [9]:
cards_to_not_insert = cards[cards['id'].isin(string_target_card_ids)]
cards_to_not_insert

Empty DataFrame
Columns: [id, name, holder, number, brand, expiration_date, token, created_at, updated_at, customer_id, type, shopping_id]
Index: []

In [10]:
cards_to_insert.to_sql('card', connection, if_exists="append", index=False);

In [11]:
connection.dispose()

In [12]:
tunnel.stop()

2023-11-14 20:18:53,571| INF | MainThrea/1374@sshtunnel | Closing all open connections...
2023-11-14 20:18:53,571| DEB | MainThrea/1378@sshtunnel | Listening tunnels: 0.0.0.0:36579
2023-11-14 20:18:53,572| INF | MainThrea/1458@sshtunnel | Shutting down tunnel: 0.0.0.0:36579 <> 172.17.0.1:5432 (up)
2023-11-14 20:18:53,652| INF | Srv-36579/1439@sshtunnel | Tunnel: 0.0.0.0:36579 <> 172.17.0.1:5432 released
2023-11-14 20:18:53,653| INF | MainThrea/1474@sshtunnel | Closing ssh transport
2023-11-14 20:18:53,655| DEB | MainThrea/1477@sshtunnel | Transport is closed